.searchhotel-page{
    display: flex;
    background-color: orange;
    width: 300vh;
    height: 100px;
}
.nav-search{
    display: flex;
    font-size: 14px;
    font-weight: 500;
    color: white;
    /* gap: 5%; */
   padding-top: 10px;
}
.five-divs{
    display: flex;
    
}

.other-divs{
    display: flex;
}
.d1{
    margin-left: 30px;
    font-weight: 700;
    margin-top: 10px;
    
}
.d2{
    margin-left: 10px;
    border: 1px solid blue;
    color: blue;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    text-align: center;
    padding-top: 5px;
    margin-top: 8px;
    font-size: 15px;
}
.d3{
    margin-left: 10px;
    border: 1px solid blue;
    color: blue;
    width: 180px;
    height: 30px;
    border-radius: 20px;
    text-align: center;
    padding-top: 5px;
    margin-top: 8px;
    font-size: 15px;

}
.d4{
    margin-left: 10px;
    border: 1px solid blue;
    color: blue;
    width: 180px;
    height: 30px;
    border-radius: 20px;
    text-align: center;
    padding-top: 5px;
    margin-top: 8px;
    font-size: 15px;

}
.d5{
    margin-left: 10px;
    font-weight: 700;
    color: blue;
    width: 180px;
    height: 30px;
    border-radius: 20px;
    text-align: center;
    padding-top: 5px;
    background-color: skyblue;
    margin-top: 8px;
    font-size: 15px;

}
.d6{
    display: flex;
    margin-left: 15%;
    width: 300px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    padding-top: 5px;
    background-color: rgb(203, 224, 233);
     margin-top: 8px;
    color: black;
    font-size: 15px;

}
.d6 img{
    width: 20px;
    height: 20px;
    padding-right: 15px;
    padding-left: 10px;
}
.sidebar-div{
    width: 280px;
    height:fit-content;
    background-color: rgb(243, 232, 232);
    border-radius: 10px;
    /* margin-left: 20px; */
    /* margin-top: 30px; */

}
.filter-div{
    display: flex;
}
.filter-1{
    font-weight: 600;
    margin-left: 30px;
    margin-top: 20px;
}
.filter-2{
    
    margin-left: 45%;
    margin-top: 20px;
    font-size: 14px;
    color: blue;
}
.p-div{
    margin-left: 30px;
}
.fr-h1{
    width: 220px;
    height: 30px;
    border-radius: 5px;
    margin-left: 20px;
}
.hotel-l1{
    margin-left: 20px;
    font-size: 12px;
}
.fr-h2{
    width: 150px;
    height: 30px;
    border-radius: 5px;
    margin-left: 20px;
}
.fr-h3{
    width: 150px;
    height: 30px;
    border-radius: 5px;
    margin-left: 20px;
}
.fr-h4{
    width: 150px;
    height: 30px;
    border-radius: 5px;
    margin-left: 20px;
}
.update-hotel{
    background-color: white;
    border-radius: 10px;
    width: 220px;
    height: 35px;
    margin-left: 6%;
    margin-top: 30px;
    color: blue;
    font-weight: 700;
    text-align: center;
    font-size: 18px;
    padding-top: 5px;
}
.hotel-result-page{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}
.hotel-page-container{
    display: grid;
    grid-template-columns: 1.5fr 4.5fr;
    grid-gap: 2rem;
    width: 80%;
}
.hr-container-map{
    display: flex;
    flex-direction: column;
}
.hotel-card{
    display: flex;
    /* grid-template-columns: 3fr 1fr 1fr 1fr 2fr 2fr; */
    width: 110%;
    background-color: rgb(243, 232, 232);
    border-radius: 12px;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 10px;
   
}
.hotel-card:hover{
    border: 2px solid blue;
}
.hotel-rating{
    background-color: green;
    color: white;
    height: 20px;
    width: 40px;
    padding: 5px;
    font-size: 12px;
    text-align: center;
    margin-left: 30%;
}
.hotel-name{
    font-size: 14px;
}
.img-gallery {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 12px;
  }
  
  .img-gallery img {
    width: 40px;
    height: 40px;
    border-radius: 12%;
  }